td {
  position: relative;
}

tr.strikeout td:before {
  content: " ";
  position: absolute;
  top: 28%;
  left: 0;
  border-bottom: 1px solid #111;
  width: 100%;
}

.close {
  color: red;
  position: absolute;
  top: 15%;
  right: 5%;
  transform: translate(0%, -50%);
}